[Unit]
Description=ChupaText - Text extraction service
After=network.target

[Service]
Type=simple
User=chupa-text
Group=chupa-text
WorkingDirectory=/home/chupa-text/chupa-text-http-server
EnvironmentFile=/home/chupa-text/chupa-text-http-server/.env
ExecStart=/usr/bin/xvfb-run bin/rails server
Restart=always

[Install]
WantedBy=multi-user.target
